**Domain Background**ï¼š


        è¿™æ˜¯ä¸€ä¸ªæ¥è‡ªäºKaggleçš„çœŸå®ç«èµ›é¡¹ç›®ï¼Œé¡¹ç›®è¦æ±‚é¢„æµ‹Rossmannçš„æ—¥å¸¸é”€å”®ã€‚Rossmannæ˜¯ä¸€ä¸ªåœ¨7ä¸ªæ¬§æ´²å›½å®¶ç»è¥ç€3,000å¤šå®¶è¯åº—ã€‚ç›®å‰ï¼ŒRossmannå•†åº—ç»ç†çš„ä»»åŠ¡æ˜¯é¢„å…ˆæå‰å…­å‘¨é¢„æµ‹ä»–ä»¬çš„æ—¥å¸¸é”€å”®ã€‚å•†åº—é”€å”®å—è®¸å¤šå› ç´ çš„å½±å“ï¼ŒåŒ…æ‹¬ä¿ƒé”€ï¼Œç«äº‰ï¼Œå­¦æ ¡å’Œå·å‡æ—¥ï¼Œå­£èŠ‚æ€§å’Œåœ°æ–¹æ€§ã€‚æˆåƒä¸Šä¸‡çš„ä¸ªä½“ç»ç†æ ¹æ®ä»–ä»¬ç‹¬ç‰¹çš„æƒ…å†µé¢„æµ‹é”€å”®æƒ…å†µï¼Œç»“æœçš„å‡†ç¡®æ€§å¯èƒ½ä¼šæœ‰å¾ˆå¤§å·®å¼‚ã€‚
    åœ¨Kaggleçš„æ¯”èµ›ä¸­ï¼ŒRossmannå‘æ‚¨æå‡ºæŒ‘æˆ˜ï¼Œè¦æ±‚æ‚¨é¢„æµ‹å¾·å›½å„åœ°çš„1,115å®¶å•†åº—æ¯å‘¨é”€å”®6å‘¨ã€‚å¯é çš„é”€å”®é¢„æµ‹å¯ä»¥ä½¿å•†åº—ç»ç†èƒ½å¤Ÿåˆ›å»ºæœ‰æ•ˆçš„å‘˜å·¥æ—¶é—´è¡¨ï¼Œä»è€Œæé«˜ç”Ÿäº§åŠ›å’ŒåŠ¨åŠ›ã€‚é€šè¿‡å¸®åŠ©Rossmannåˆ›å»ºä¸€ä¸ªå¼ºå¤§çš„é¢„æµ‹æ¨¡å‹ï¼Œæ‚¨å°†å¸®åŠ©å•†åº—ç»ç†ä¸“æ³¨äºå¯¹ä»–ä»¬æœ€é‡è¦çš„äº‹æƒ…ï¼šä»–ä»¬çš„å®¢æˆ·å’Œä»–ä»¬çš„å›¢é˜Ÿï¼Â 
ä¹‹æ‰€ä»¥é€‰æ‹©è¿™ä¸ªé¡¹ç›®ï¼Œæ˜¯å› ä¸ºè¯¥é¡¹ç›®ä¸æˆ‘çš„å®é™…å·¥ä½œä¸­äºŸå¾…è§£å†³çš„é—®é¢˜åŒå‡ºä¸€è¾™ã€‚


**Problem Statement**ï¼š


        è¯¥é¡¹ç›®çš„å…·ä½“ä»»åŠ¡æ˜¯åœ¨1,115å®¶Rossmannå•†åº—çš„å†å²é”€å”®æ•°æ®ä¸­é¢„æµ‹æµ‹è¯•é›†çš„â€œSalesâ€åˆ—ï¼Œè¿™å±äºçº¿æ€§å›å½’ç±»çš„éœ€æ±‚ã€‚å¯ä»¥é€šè¿‡æ„å»ºä¸€ä¸ªæœ‰ç›‘ç£å­¦ä¹ ç±»çš„æ¨¡å‹æ¥å‡å°‘é¢„æµ‹å€¼ï¼ˆÅ·ï¼‰ä¸å®é™…å€¼ï¼ˆyï¼‰ä¹‹é—´çš„è¯¯å·®æ¥è§£å†³æœ¬éœ€æ±‚ã€‚
    ä½¿ç”¨Kaggleçš„RMSPE å‡½æ•°æ¥éªŒè¯çœŸå®çš„é”€å”®æ•°æ®ä¸é¢„æµ‹æ•°æ®çš„å·®å¼‚æ€§ã€‚RMSPE å‡½æ•°ï¼š

<img src="rmspe.png" width="20%"></img>

In [2]:
# ä¸ºè¿™ä¸ªé¡¹ç›®å¯¼å…¥éœ€è¦çš„åº“
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # å…è®¸ä¸ºDataFrameä½¿ç”¨display()

# å¯¼å…¥é™„åŠ çš„å¯è§†åŒ–ä»£ç visuals.py
import visuals as vs

# ä¸ºnotebookæä¾›æ›´åŠ æ¼‚äº®çš„å¯è§†åŒ–
%matplotlib inline

# å¯¼å…¥å•†åº—ç‰¹å¾æ•°æ®
data = pd.read_csv("store.csv")

# æˆåŠŸ - æ˜¾ç¤ºç¬¬ä¸€æ¡è®°å½•
display(data.head(n=10))

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN

In [3]:
train = pd.read_csv("train.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
version https://git-lfs.github.com/spec/v1    2 non-null object
dtypes: object(1)
memory usage: 96.0+ bytes

---

**æ•°æ®æ¢ç´¢**ï¼šé¦–å…ˆæˆ‘ä»¬å¯¹æ•°æ®é›†è¿›è¡Œä¸€ä¸ªç²—ç•¥çš„æ¢ç´¢ï¼Œæˆ‘ä»¬å°†çœ‹çœ‹æ¯ä¸€ä¸ªç±»åˆ«é‡Œä¼šæœ‰å¤šå°‘è¢«è°ƒæŸ¥è€…ï¼Ÿå¹¶ä¸”å‘Šè¯‰æˆ‘ä»¬è¿™äº›é‡Œé¢å¤šå¤§æ¯”ä¾‹æ˜¯å¹´æ”¶å…¥å¤§äº50,000ç¾å…ƒçš„ã€‚åœ¨ä¸‹é¢çš„ä»£ç å•å…ƒä¸­ï¼Œä½ å°†éœ€è¦è®¡ç®—ä»¥ä¸‹é‡ï¼š

æ€»çš„è®°å½•æ•°é‡ï¼Œ'n_records' å¹´æ”¶å…¥å¤§äº50,000ç¾å…ƒçš„äººæ•°ï¼Œ'n_greater_50k'. å¹´æ”¶å…¥æœ€å¤šä¸º50,000ç¾å…ƒçš„äººæ•° 'n_at_most_50k'. å¹´æ”¶å…¥å¤§äº50,000ç¾å…ƒçš„äººæ‰€å çš„æ¯”ä¾‹ï¼Œ 'greater_percent'. æç¤ºï¼š æ‚¨å¯èƒ½éœ€è¦æŸ¥çœ‹ä¸Šé¢çš„ç”Ÿæˆçš„è¡¨ï¼Œä»¥äº†è§£'income'æ¡ç›®çš„æ ¼å¼æ˜¯ä»€ä¹ˆæ ·çš„ã€‚ï¼š

- **ç¯å¢ƒ** : è¿·å®«å°ºå¯¸ã€å¤–è§‚ï¼›é™·é˜±ã€èµ·ç‚¹å’Œç»ˆç‚¹çš„åæ ‡
- **çŠ¶æ€** : ğ‘ ğ‘¡ï¼Œæ’å¢™ã€ç§»åŠ¨ã€èµ·ç‚¹ã€ç»ˆç‚¹ã€çˆ†ç‚¸


- **åŠ¨ä½œ** : ğ‘ğ‘¡ï¼Œä¸Šã€ä¸‹ã€å·¦ã€å³
- **å¥–åŠ±** : ğ‘Ÿğ‘¡+1ï¼Œæ’åˆ°å¢™å£ï¼š-10ï¼›èµ°åˆ°ç»ˆç‚¹ï¼š50ï¼›èµ°åˆ°é™·é˜±ï¼š-30ï¼›å…¶ä½™æƒ…å†µï¼š-0.1

$$T(s^{'}, a, s) = P(s^{'}|a,s)$$


---